:host {
    padding: 2rem;
}
.bottomBar {
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--blanco-funza);
    text-align: center;
    font-size: 0.9em;
    color: var(--negro-funza);
    overflow-y: hidden;

    p {
        text-align: right;
        filter: drop-shadow(azure 0 0 1px);
        margin: 0 .5rem .5rem 0;
        font-weight: bold;
        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: var(--rojo-funza);
            }
        }
    }

    svg {
        position: absolute;
        right: calc(50% - 50px);
        top: -50px;

        fill: var(--negro-funza);
    }
}