p {
    display: block;
    width: 100%;
    padding: 10px;
    color: black;

    background: rgb(82,148,156);
    background: linear-gradient(90deg, rgba(82,148,156,1) 0%, rgba(148,205,213,1) 50%); 
}