.descriptionsWrapper {
    background-color: #e6e6e6;
    width: 100%;
    min-height: 100px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    border-radius: 10px;
    filter: drop-shadow(#323232 0 0 2px);
    article {
        background-color: transparent;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        min-width: 100%;
        min-height: 100%;
        margin: 0;
        margin-bottom: .5rem;
        padding: .5rem;

        h2 {
            padding: .5rem 1rem;
            width: 100%;
            border-radius: 10px;
            background-color: #94CDD5;
            color: #323232;
            font-weight: normal;
            font-family: 'Monda', sans-serif;
        }
        p {
            padding: 0 .5rem;
            font-weight: lighter;
            line-height: 1.5rem;
        }
    }
}