:host {
    text-align: center;
    font-weight: 300;
    filter: drop-shadow(#323232 0 0 2px);
}
article {
    background-color: #e6e6e6;
    width: 100%;
    padding: .5rem;
    border-radius: 10px;
    text-align: center;
    transition: all 200ms linear;
    img {
        transition: all 300ms linear;
    }
    .name{
        font-weight: bold;
        text-decoration: none;
        color: inherit;
    }
    &:hover {
        transform: scale(110%);
        cursor: pointer;

        img{
            transform: scale(150%);
            filter: drop-shadow(#7AFFFF 0 0 5px);
        }
    }

    .typesContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        flex-wrap: wrap;
        gap: .5rem;
        margin-top: 15px;
    }
    .numberContainer {
        display: flex;
        background-color: #94CDD5;
        font-family: 'Monda', sans-serif;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px;
        border-radius: 5px;
        gap: 10px;
    }
  }
