:host {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: calc(100vh - 160px);

    background-image: url('/src/assets/volcarona.webp');
    background-position: left 70% bottom 40%;
    background-repeat: no-repeat;
    background-size: 250%;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 60px 0;
    width: 100%;
    padding: 0 1rem;
    color: #E6E6E6;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        margin: 1rem;
        filter: drop-shadow(#323232 5px 0 2px);

        h1 {
            font-weight: bold;
            font-size: 3rem;
        }

        p {
            font-weight: normal;
            font-size: 1.3rem;
        }
    }

    button {
        padding: 10px 20px;
        width: fit-content;
        margin: 0 auto;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Monda', sans-serif;
        background-color: #E6E6E6;
        text-shadow: none;
        color: #323232;
        border: 1px solid #52949C;
        transition: 0.5s ease;
        user-select: none;
        animation: floating 2s ease-in-out infinite;
              
      &:hover, &:focus {
        cursor: pointer;
        color: #ffffff;
        background: #52949C;
        border: 1px solid #52949C;
        box-shadow: 0 0 5px #94CDD5 ,
                    0 0 20px #94CDD5 ,
                    0 0 50px #94CDD5 ,
                    0 0 100px #94CDD5 ;
      }
    }
}

@keyframes floating {
    0% {
        transform: translateY(-40%);
    }

    50% {
        transform: translateY(-35%);
    }

    100% {
        transform: translateY(-40%);
    }
}

@keyframes scaling {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(99%);
    }

    100% {
        transform: scale(100%);
    }
}

//disable animations on prefer reduced motion
@media (prefers-reduced-motion: reduce) {
    section {
        div {
            animation: none;
        }

        img {
            animation: none;
        }
    }
}

//set img width to 100% on tablet and above
@media (min-width: 768px) {
    :host {
        background-size: 150%;
        background-position: left 85% bottom 50%;
        align-items: flex-end;
    }

    section {
        width: 50%;
    }

    div {
        align-items: flex-start;
        text-align: left;
        margin: 0 2rem;
    }
}