/* You can add global styles to this file, and also import other style files */
:root {
    --darker-funza: #121212;
    --negro-funza: #323232;
    --gris-funza: #626262;
    --blanco-funza: #E6E6E6;
    --rojo-funza: #DE5C45;
    --celeste-funza: #94CDD5;
    --azul-funza: #52949C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: rgb(50, 50, 50);
    background: linear-gradient(180deg, var(--blanco-funza) 0%, var(--darker-funza) 100%);
    background-attachment: fixed;
    min-height: 100vh;

    --bg: var(--blanco-funza);
    --text: var(--negro-funza);

    &.dark-theme {
        --bg: var(--negro-funza);
        --text: var(--blanco-funza);
        background-color: #000000;
        opacity: 1;
        background-image: linear-gradient(30deg, #0b0b0b 12%, transparent 12.5%, transparent 87%, #0b0b0b 87.5%, #0b0b0b), linear-gradient(150deg, #0b0b0b 12%, transparent 12.5%, transparent 87%, #0b0b0b 87.5%, #0b0b0b), linear-gradient(30deg, #0b0b0b 12%, transparent 12.5%, transparent 87%, #0b0b0b 87.5%, #0b0b0b), linear-gradient(150deg, #0b0b0b 12%, transparent 12.5%, transparent 87%, #0b0b0b 87.5%, #0b0b0b), linear-gradient(60deg, #0b0b0b77 25%, transparent 25.5%, transparent 75%, #0b0b0b77 75%, #0b0b0b77), linear-gradient(60deg, #0b0b0b77 25%, transparent 25.5%, transparent 75%, #0b0b0b77 75%, #0b0b0b77);
        background-size: 80px 140px;
        background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    }
}

.pattern {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-color: var(--gris-funza);
    opacity: 0.1;
    background-image: linear-gradient(30deg, #e6e6e6 12%, transparent 12.5%, transparent 87%, #e6e6e6 87.5%, #e6e6e6), linear-gradient(150deg, #e6e6e6 12%, transparent 12.5%, transparent 87%, #e6e6e6 87.5%, #e6e6e6), linear-gradient(30deg, #e6e6e6 12%, transparent 12.5%, transparent 87%, #e6e6e6 87.5%, #e6e6e6), linear-gradient(150deg, #e6e6e6 12%, transparent 12.5%, transparent 87%, #e6e6e6 87.5%, #e6e6e6), linear-gradient(60deg, #e6e6e677 25%, transparent 25.5%, transparent 75%, #e6e6e677 75%, #e6e6e677), linear-gradient(60deg, #e6e6e677 25%, transparent 25.5%, transparent 75%, #e6e6e677 75%, #e6e6e677);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}