:host {
    font-family: 'Monda', sans-serif;
    font-size: small;
    font-weight: bold;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 5px;
}
p {
    color:azure;
    text-decoration: none;
    border-radius: 5px;
    padding: 0 8px;
    padding-left: 4px;
 }