:host {
    font-family: 'Monda', sans-serif;
    font-size: small;
    font-weight: bold;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 5px;
    

    &.noBackground {
        gap: 4px;
        background: none;
        padding: 0;
        padding-right: 4px;
        filter: none;

        p {
            color: var(--text);
        }
    }
}
p {
    color: var(--bg);
    text-decoration: none;
    border-radius: 5px;
    padding: 0 8px;
    padding-left: 4px;
 }